<div class="col">
    <div>
        <bd-cartao-simulador [anoValidade]="anoVencimentoCartao" [mesValidade]="mesVencimentoCartao"
            [numero]="dadosCartao.numero">
        </bd-cartao-simulador>
    </div>
    <div style="width: 300px; margin: 0 auto; margin-top: 5px;">
        <button (click)="SolicitarCartao()" 
                *ngIf="!temCartao" id="button-solicitar-cartao" 
                mat-raised-button color="basic">
            Solicitar cartão
            <mat-icon style="margin: 0 auto;">payment</mat-icon>
        </button>
        <bd-cartao-info *ngIf="temCartao" 
                        [ativo]="dadosCartao.ativo"
                        [tipoCartao]="GetTipoCartao().toString()"
                        [tipoCartaoValue]="dadosCartao.tipo"
                        (alterarStatus)="AlterarDadosAsync($event)">
        </bd-cartao-info>
    </div>
</div>