<div class="col-3">
    <div class="row  justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>CPF/CNPJ</mat-label>
            <input class="icon-color-custom" matInput placeholder="Informe o seu CPF/CNPJ">
            <mat-hint>Mensagem de erro</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div class="row justify-content-center mt-3">
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" class="text-color-custom" matInput placeholder="Informe sua senha">
            <mat-hint>Mensagem de erro</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>lock</mat-icon>
        </mat-form-field>
    </div>
    <div class="row justify-content-center mt-4">
        <button id="button-entrar" mat-raised-button color="primary">Entrar</button>
    </div>
</div>

