button{
    width: 50%;
}
#button-entrar:hover{
    background-color: rgb(156, 109, 201);
}
#div-login{
    margin-top: 10%;
    margin-left: 25%;
    padding-right: 50px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 15px;
}
img{
    margin-top: 0px;
    margin-bottom: 5px;
    width: 30%;
    height: 30%;
}
