<div id="div-login">
    <form [formGroup]="form">
    <div class="row  justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input formControlName="Cpf" class="icon-color-custom" matInput placeholder="Informe o seu CPF/CNPJ">
            <mat-hint class="erro-message" *ngIf="validatorMsg.ContemErro(errosMsg, 'CPF')">{{validatorMsg.BuscarMensagemErro(errosMsg, "CPF")}}</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-3">
            <button id="button-entrar" mat-raised-button color="primary" (click)="FazerLogin()">Entrar</button>
        </div>
    </div>
    </form>
</div>

