<div id="div-login" class="col-3">

    <img src="../../../../assets/banco.png" alt="">
    <h3>Banco Digital</h3>
    <form [formGroup]="form">
    <div class="row  justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input formControlName="Cpf" class="icon-color-custom" matInput placeholder="Informe o seu CPF/CNPJ">
            <mat-hint *ngIf="validatorMsg.ContemErro(errosMsg, 'CPF')">{{validatorMsg.BuscarMensagemErro(errosMsg, "CPF")}}</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div class="row justify-content-center mt-4">
        <button id="button-entrar" mat-raised-button color="primary" (click)="FazerLogin()">Entrar</button>
    </div>
    </form>
</div>

