<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Mais sobre meu cartão
                <mat-icon style="margin: 0 auto;">add_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            <span>Modo habilitado</span>
            <span style="font-size: small; font-family: Arial, Helvetica, sans-serif;" 
                    class="badge bg-light text-dark m-lg-2">
                {{tipoCartao}} 
            </span>
        </p>
        <p>
            <span>Status</span>
            <span style="font-size: small; font-family: Arial, Helvetica, sans-serif;" 
                    [ngClass]="{'bg-danger': !ativo, 'bg-success': ativo}" 
                    class="badge m-lg-2">
                {{ativo ? "Ativado" : "Desativado"}}
            </span>
            <!-- <mat-chip>Status</mat-chip> {{ativo ? "Ativo" : "Desativo"}} -->
        </p>
        <hr>
        <form [formGroup]="form">
            <mat-checkbox formControlName="ativo"
                        [checked]="ativo" 
                        class="example-margin"
                        color="primary">
                        Ativado
            </mat-checkbox>
            <p class="mt-3">
                <mat-form-field appearance="fill">
                    <mat-label>Habilitar</mat-label>
                    <mat-select formControlName="tipoCartaoValue" [value]="tipoCartaoValue">
                        <mat-option value="Debito">Débito</mat-option>
                        <mat-option value="Credito">Crédito</mat-option>
                        <mat-option value="Debito_Credito">Débito e Crédito</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
        </form>
        <div class="row justify-content-center">
            <button id="button-alterar-cartao" mat-raised-button color="primary"
                (click)="AlterarDadosAsync()">
                Alterar
        </button>
        </div>
       
    </mat-expansion-panel>
</mat-accordion>