h2{
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
img{
    width: 170px;
    height: 150px;
    border-bottom: 5px solid white;
    float: right;
}

#button-logout{
    position: absolute; 
    right: 10px; 
    top: 10px
}

#container-home-page{
    position: relative;
}