h2{
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 15px;
}

img{
    margin-top: 0px;
    margin-bottom: 5px;
    width: 200px;
    height: 150px;
    border-bottom: 5px solid white;
}

hr{
    color: white;
    width: 90%;
}

