<div class="col-3">
    <div class="row  justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input class="icon-color-custom" id="register-nome" matInput placeholder="Informe o seu Nome">
            <mat-hint style="color: red" *ngIf="validatorMsg.ContemErro(errosMsg, 'Nome')">{{validatorMsg.BuscarMensagemErro(errosMsg, "Nome")}}</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div class="row  justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input class="icon-color-custom" id="register-cpf" matInput placeholder="Informe o seu CPF">
            <mat-hint>Mensagem de erro</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div class="row  justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input class="icon-color-custom" id="register-telefone" matInput placeholder="Informe o seu Telefone">
            <mat-hint>Mensagem de erro</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div class="row  justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" class="icon-color-custom" id="register-telefone" matInput placeholder="Informe o sua senha">
            <mat-hint>Mensagem de erro</mat-hint>
            <mat-icon class="icon-color-custom" matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div class="row justify-content-center mt-4">
        <button id="button-registrar" mat-raised-button color="primary" (click)="NewClient()">Cadastrar</button>
    </div>
</div>