button{
    width: 50%;
}
#button-registrar:hover{
    background-color: rgb(156, 109, 201);
}

mat-hint{
    color: red;
}
#div-register{
    margin-top: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display:inline-block;
    border-left: 2px solid white;
    padding-left: 50px;
}
